body {
    
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    border-color: red;
}
  
  header {
    background-color:rgb(238, 129, 129);
    text-align: center;
  }

  h1 {
    
    text-align: center;
    font-size: 36px;
    color: darkred;
    padding: 20px 0;
    text-shadow: darkred;
  }

  h2 {
    background-color:rgb(238, 129, 129);
    text-align: center;
    font-size: 36px;
    color: darkred;
    padding: 20px 0;
    text-shadow: darkred;
  }

  h3{
    color: white;
    font-size: 30px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .menu-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
  }
  
  
  .menu-section ul {
    list-style: none;
    padding: 0;
 
  }
  
  .menu-section li {
    padding: 5px 0;
    color: black;
  }
  
  .menu-section a {
    text-decoration: none;
    color: #333;
  }
  
  .events-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
  }
  
  .events-section h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }
  
  .events-section .event {
    margin-bottom: 20px;
  }
  
  .events-section img {
    width: 100%;
    height: auto;
  }
  
  .events-section p {
    margin-top: 10px;
  }
  
  .events-section a {
    text-decoration: none;
    color: #007bff;
  }
  
  .form-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
  }
  
  .form-section h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }
  
  .form-section input[type="text"],
  .form-section input[type="email"],
  .form-section textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-section button {

    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-section button:hover {
    background-color: #0056b3;
  }
  
  footer {
    background-color: #ffe4e1;
    padding: 20px;
    text-align: center;
    border: red;    
  }
  
  footer p {
    margin: 0;
    color: white;
    background-color:rgb(238, 129, 129);
    border: red;
  }
